<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/restaurant-hans_styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="assets/js/init.js"></script>
  </head>
  <body>

    <header id="primary-navigation">
      <nav id="primary">
        <h1 class="title">
          <a href="index.html">
            Molveno Manager
            <span>For Restaurant</span>
          </a>
        </h1>
        <!-- <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="reservations.html">Manage Reservations</a></li>
          <li><a href="guests.html">Manage Guests</a>
          </li>
          <li><a href="menu.html">Manage Menu</a>
            <ul>
              <li><a href="ingredients.html">Menu items</a></li>
              <li><a href="ingredients.html">Ingredients</a></li>
            </ul></li>
          <li><a href="tables.html">Manage Tables</a></li>
        </ul> -->
      </nav>
    </header>
    <main id="page">
      <header class="page-header">
        <h2>Home</h2>
        <nav id="page-navigation">
          <ul>
            <li class="current"><a href="#">Dashboard</a></li>
            <li><a href="#">Statistics</a></li>
          </ul>
        </nav>
        <!--<nav>
          <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
        </nav>-->

      </header>

      <article class="page-content">
        <section>
          <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
        </section>
      </article>

      <footer class="page-footer">

      </footer>

    </main>
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/require-2.3.6.min.js" data-main="assets/js/main"></script>
  </body>
</html>
