* {
  box-sizing: border-box;
}

html,body {
  background: #f7f6f2;
  font-family: 'Open Sans', sans-serif;
}

nav#primary {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #3a131d; */
  background-color: #235f82;
  overflow-x: hidden;
}
  nav#primary h1.title {
    height: 100px;
    padding: 12px 0;
    background-color: rgba(0,0,0,.5);
    overflow: hidden;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
  nav#primary h1.title,
  nav#primary h1.title a {
    display: block;
    font-family: 'Pacifico', cursive;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
  }
    nav#primary h1.title a > span {
      display: block;
      font-family: sans-serif;
      font-size: .5em;
      font-style: italic;
    }
  nav#primary > ul {
    padding: 0;
    list-style: none;

  }
    nav#primary ul li {
      position: relative;
      font-size: 14px;
      border-bottom: 1px dotted rgba(255,255,255,.3);
    }
    nav#primary ul li:first-child {
      border-top: 1px dotted rgba(255,255,255,.3);
    }
    nav#primary ul li a.active {
      color: #f7f6f2;
      background-color: rgba(234, 234, 234,.3);
      font-weight: bold;
    }
      nav#primary ul li > ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }
        nav#primary ul ul > li:last-child {
          border-bottom: 0;
        }
        nav#primary ul ul > li a {
          padding-left: 32px;
          position: relative;
        } nav#primary ul ul > li a:before {
          position: absolute;
          content: "> ";
          font-size: .8em;
          color: #bbb;
          left: 18px;
          bottom: 25%;
        }
  nav#primary a {
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    color: #ddd;
    display: block;
  } nav#primary a:hover {
    background-color: rgba(0,0,0,.05);
    color: #fff;
  }

main#page {
  min-width: 690px;
  margin-left: 240px; /* same width as nav#primary */
  padding-top: 100px;
  position: relative;
}
  main#page .page-header {
    padding: 0;
    display: block;
    width: 100%;
    height: 100px;
    background-color: rgb(134, 138, 142);
    position: fixed;
    top: 0;
    z-index: 9;
  }
    main#page .page-header > h2 {
      padding: 24px 96px 0 96px;
      color: #fff;
      font-size: 20px;
    }
  main#page #page-navigation {
    padding: 0 96px;
  }
  main#page .page-content {
    padding: 24px 96px;
  }

/* naviagtion */

#page-navigation {
  position: absolute;
  bottom: 0;
  width: 100%;

}

#page-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}
  #page-navigation ul > li {
    display: inline-block;
    height: 32px;

  }
    #page-navigation ul > li a {
      padding: 8px 20px;
      background-color: #eaeaea;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom: 1px solid #ddd;
      color: #888;
    }
    #page-navigation ul > li.current a {
      color: #333;
      background-color: #f7f6f2;
      border-bottom: 1px solid #f7f6f2;
    }

/*  Bootstrap Tabs  */

#page-navigation ul.nav-tabs {
  border-bottom: 0px !important;
}
  #page-navigation ul.nav-tabs > li.nav-item {
    margin-bottom: 7px !important;
    margin-right: 5px;
  }
    #page-navigation ul.nav-tabs > li.nav-item a.nav-link {
      height: 39px !important;
    }
    #page-navigation ul.nav-tabs > li.nav-item a.nav-link.active {
      background-color: #f7f6f2 !important;
      border-bottom: 0px !important;
      color: #000 !important;
    }

/* page header */

#page-content h1 {
  font-size: 18px;
}

/* Bootstrap Buttons */
#page_output table tr button.btn-sm{
  display: none;
  margin: 0;
  float: left;
}
#page_output table tr:hover button.btn-sm{
  display: block;
}

.btn {
  margin-right: 8px;
}

.btn-primary {
  background-color: #235F82 !important;
  border-color: #235F82 !important;
}

.btn-light {
  background-color: rgba(0,0,0,0) !important;
  border-color: #9eb1bc !important;
}


/* table */
#page_output table {
  user-select: none;
}
/* DataTable */

#page_output table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "" !important;
  /* sort */
}
#page_output table.dataTable thead .sorting_asc:after {
  content: "" !important;
  /* sort-by-attributes */
}
#page_output table.dataTable thead .sorting_desc:after {
  content: "" !important;
  /* sort-by-attributes-alt */
}


/* print media */

@media print{
  body{
    display: none;
  }
  .print{
    display: block;
  }
}

@media (max-width: 1024px) {
  main#page .page-header > h2 {
    padding: 24px 16px 0 16px;
    color: #fff;
    font-size: 20px;
  }
  main#page #page-navigation {
    padding: 0 16px;
  }
  main#page .page-content {
    padding: 24px 16px;
  }
}
