<header class="page-header">
  <h2>Manage Guests</h2>
  <nav id="page-navigation">
    <ul>
      <li class="current"><a href="#">Overview</a></li>
      <li><a href="#">Insert New Guest...</a></li>
    </ul>
  </nav>
</header>

<article class="page-content">
  <section>
    <p>Some text to enable scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo, maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis evertitur eum. Affert laboramus repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae voluptatibus.</p>
  </section>
</article>

<footer class="page-footer">

</footer>
