<script src="../assets/js/modules/invoice_generator.js" language="JavaScript"></script>
<header class="page-header">
  <h2>Invoice [TEMP]</h2>
  <nav id="page-navigation">
    <ul>
      <!--
      <li class="current"><a href="#">Overview</a></li>
      <li><a href="#">Insert New Menu Item...</a></li>
    -->
    </ul>
  </nav>
</header>

<article class="page-content">
  <section>
    <p id="invoice_content"><span style="color:#ff0000;">Something went wrong! Please notify the system manager</span></p>
    <p><a href="pages/invoice_generator_pf.html" target="_blank">Printer friendly invoice</a></p>
  </section>
</article>

<footer class="page-footer">

</footer>
<script language="JavaScript">document.getElementById("invoice_content").innerHTML=generate_invoice(reservation);</script>
